html {
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}
h1 {
  font-family: "Nova Mono", monospace;
}
body {
  background-color: #b9cdda;
}
.container {
  margin: 100px;
}
.parallax {
  display: grid;
  align-items: center;
  justify-content: center;
  /* The image used */
  background-image: url("https://wallpaperaccess.com/full/4321984.jpg");
  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inner-parallax h1 {
  font-size: 64px;
}

.inner-parallax {
  background: rgb(185, 205, 218);
  background: linear-gradient(
    180deg,
    rgba(185, 205, 218, 0.6) 14%,
    rgba(247, 247, 247, 0.6) 100%
  );
}
.container h1 {
  text-align: center;
}
/* Three columns side by side */
.column {
  box-shadow: 10px 10px 10px grey;
  transition: 0.3s;
  height: 100%;
  border-radius: 20px;
  padding: 10px;
  background: rgb(108, 150, 178);
  background: linear-gradient(
    180deg,
    rgba(108, 150, 178, 1) 14%,
    rgba(247, 247, 247, 1) 100%
  );
}

.column:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
  box-shadow: 20px 20px 10px grey;
}
.column * {
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
img {
  border: 5px solid #6b7d7d;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {

  .row {
    display: block;
  }

  img {
    width: 100px;
    height: 100px;
   
  }
}